<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Member"> 	
	
	
	<insert id="signup" parameterType="Member">
	 INSERT INTO MEMBERS VALUES(#{mb_code}, #{mb_pass}, #{mb_name}, #{mb_digit}, #{mb_email}, #{mb_birth}, #{mb_gender}, 'n', #{mb_add}, #{mb_filename})
	</insert>
	
	<select id="signin" parameterType="Member" resultType="Member">
	SELECT * FROM MEMBERS WHERE MB_CODE = #{mb_code} AND MB_PASS= #{mb_pass} 
	</select>
	
	<select id="list"  resultType="Member">
	SELECT * FROM MEMBERS 
	</select>
	
	
	<select id="Detail" parameterType="String" resultType="Member">
	SELECT * FROM MEMBERS WHERE MB_CODE=#{mb_code}
	</select>
	
	<select id="idOverlap" parameterType="String" resultType="String">
		SELECT MB_CODE FROM MEMBERS WHERE MB_CODE=#{mb_code}
	</select>
	
	
	<delete id="Delete" parameterType="String">
	DELETE FROM MEMBERS WHERE MB_CODE = #{mb_code}
	</delete>
	

	<select id="viewinfo" parameterType="String" resultType="Member">
	SELECT * FROM MEMBERS WHERE MB_CODE=#{mb_code}
	</select>


	<update id="memberModi" parameterType="Member" >
	UPDATE MEMBERS SET MPASS=#{mpass}, MNAME=#{mname}, MPHON=#{mphon}, MEMAIL=#{memail}, MBIRTH=#{mbirth} WHERE MID=#{mid}
	</update>



 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 